*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(81, 40, 137), rgb(237, 135, 45) );

}

#app {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.7rem;
    height: 90%;
    max-width:800px;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    
}

#app::-webkit-scrollbar{
    width: 0 !important;

}

#alert {
    color:red;
}

#newTaskButton {
    max-width: 50rem;
}